<!doctype html>
<html lang='en'>

<head>
    
    {%- assign $title = renderData.title %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="https:{{contentful-brand.logo.fields.file.url}}?w=200" alt="{{contentful-brand.name}}">
                    <h2 class="head-head">Digital Tone Familiarisation Software</h2>
                </a>
            </div>
            <div class="navbar-end">
                <p class="navbar-item head-end"> Signal School <i> (Indian Navy) </i> </p>
                 <a href="/" class='navbar-item'>
                    <img src="/images/signalschool.jpg" alt="signal school">
                 </a> 
            </div>
        </nav>
    </header>
    <main>
        <section class="hero is-info is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container columns">
                    {{content}}
                </div>
            </div>
        </section>
    </main>
</body>


</html>
